# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# PDFs and data
data/
*.pdf

# Backup folders
undp_pipeline_old/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build artifacts
dist/
build/

